html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

main {
    width: 60vw;
    min-height: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    overflow: hidden;
}

section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.icon {
    width: 80px;
}

h1 {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: "Big Shoulders Display";
    font-size: 2.2rem;
}

p {
    color: hsla(0, 0%, 100%, 0.65);
    font-family: "Lexend Deca";
}

.nowrap {
    white-space: nowrap;
}

.column-orange {
    background-color: hsl(31, 77%, 52%);
}

.column-blue {
    background-color: hsl(184, 100%, 22%);
}

.column-green {
    background-color: hsl(179, 100%, 13%);
}

button {
    width: fit-content;
    padding: 12px 27px;
    border: 0;
    border-radius: 50px;
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid hsla(0, 0%, 100%, 0.75);
}

button:hover {
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);;
}

.button-orange {
    color: hsl(31, 77%, 52%);
}

.button-blue {
    color: hsl(184, 100%, 22%);
}

.button-green {
    color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 22px;
    }

    body {
        padding: 100px 0;
    }

    main {
        flex-direction: column;
        width: 90vw;
        height: 100%;
    }

    section {
        padding: 60px;
    }

    button {
        padding: 19px 39px;
    }
}